{% extends "layout.html" %}

{% block title %}Ethernet'e Bağlı Cihazlar{% endblock title %}

{% block content %}
<h1>Ethernet'e Bağlı Cihazlar</h1>

<form method="post" id="device-form">
    <label for="selected_ip">Cihaz Seç:</label>
    <select id="selected_ip" name="selected_ip" onchange="resetSelections()">
        <option value="">Seçiniz...</option>
        {% for device in devices %}
            <option value="{{ device }}" {% if device == selected_ip %}selected{% endif %}>{{ device }}</option>
        {% endfor %}
    </select>

    {% if selected_ip %}
        <label for="selected_db">Veritabanı Seç:</label>
        <select id="selected_db" name="selected_db">
            <option value="">Seçiniz...</option>
            {% for db in databases %}
                <option value="{{ db }}" {% if db == selected_db %}selected{% endif %}>{{ db }}</option>
            {% endfor %}
        </select>
    {% endif %}

    {% if selected_db %}
        <label for="selected_table">Tablo Seç:</label>
        <select id="selected_table" name="selected_table">
            <option value="">Seçiniz...</option>
            {% for table in tables %}
                <option value="{{ table }}" {% if table == selected_table %}selected{% endif %}>{{ table }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <br><br>
    <button type="submit" class="btn btn-success">Seçilen Ip'nin Verileri'ni Getir</button>

    {# <button type="submit" name="fetch_equipment_data" class="btn btn-primary">Ekipman Verilerini Getir</button> #}
    
    <button type="submit" name="fetch_equipment_data" class="btn btn-primary">
        Modemin Ekipmanlarını Getir
    </button>
    <button type="submit" name="restart_modem" class="btn btn-danger" onclick="confirmRestart()">
        <i class="fa-solid fa-rotate-left"></i> Modemi Yeniden Başlat
    </button>

</form>


{% if fetched_data %}
    <h2>Tablodan Gelen Veriler</h2>
        <form method="POST" action="{{ url_for('delete_selected_rows', ip=selected_ip, db_name=selected_db, table_name=selected_table) }}">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all" onclick="toggleSelectAll()"></th>
                        {% for column in fetched_data[0] %}
                            <th>{{ column }}</th>
                        {% endfor %}
                        <th>İşlem</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in fetched_data[1:] %}
                        <tr id="row-{{ row[0] }}">
                            <td><input type="checkbox" name="selected_rows" value="{{ row[0] }}"></td>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                            <td>
                                <a class="update-btn" href="{{ url_for('update_row', 
                                    ip=selected_ip, 
                                    db_name=selected_db, 
                                    table_name=selected_table, 
                                    row_data=row|join('|'), 
                                    columns=fetched_data[0]|join('|')
                                ) }}">
                                    <button type="button">Güncelle</button>   
                                </a>
                                <button type="button" class="btn btn-danger" onclick="deleteRow({{ row[0] }})">Sil</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="submit" id="delete-btn" class="btn btn-danger">Seçilenleri Sil</button>
        </form>
    {% endif %}
    {% if is_empty %}
        <h3 class="text-danger text-center">Ekipman tablosu boş:</h3>
    {% endif %}<br>

{% if modem_files %}
    <h3 class="text-success toggle-header" onclick="toggleFiles()"> 
        Seçtiğiniz Modem'in İçindeki Dosyalar: 
        <i id="toggle-icon" class="fa-solid fa-chevron-down"></i>
    </h3>
        <table id="file-list" style="display: none;">
            <thead>
                <tr>
                    <th>Dosya Adı</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <div>
                
            </div>
            <tbody>
                {% for file in modem_files %}
                <tr>
                    <td>
                        <i class="fa-solid fa-file"></i> {{ file }}
                    </td>
                    <td class="action-cell">
                        <button class="btn btn-download">İndir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
<p class="text-center">Modemin İçindeki Dosyalar Alınamadı.</p>
{% endif %}

<form action="/modbus-scan" method="post">
    <label for="ip">Modbus IP Adresi:</label>
    <input type="text" name="ip" required>
    
    <label for="start_address">Başlangıç Adresi:</label>
    <input type="number" name="start_address" value="0">

    <label for="end_address">Bitiş Adresi:</label>
    <input type="number" name="end_address" value="100">

    <button type="submit">Tara</button>
</form>

<link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}" rel=stylesheet>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>  
{% endblock content %} 
